// Place all the styles related to the admin::users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.user_nav{
  max-width:35px;
  min-width:35px;
}

.user_nav a{
  max-width: 605px;
  min-width: 60px;
}
